/* Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
////////////////////////////////////////
reset.css では足りない初期化を追加
////////////////////////////////////////
*/

/* 全てに box-sizing: border-box; を適用 */
*, *:before, *:after {
  box-sizing: border-box;
}

/* 画像に関する初期設定 */
img {
  /* 大きい画像がはみ出さないように */
  max-width: 100%;
  /* 画像周りの無駄なスペースができないように */
  vertical-align: bottom;
}

[data-whatinput="mouse"] *:focus,
[data-whatinput="touch"] *:focus {
  outline: none;
}

/*
////////////////////////////////////////
初期設定
////////////////////////////////////////
*/

body {
  padding: 32px 0;
  background: rgb(28, 9, 1);
  height: 2000px;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  /* floatを使った場合の対策 */
  overflow: hidden; 
}

/*
////////////////////////////////////////
menubar
////////////////////////////////////////
*/

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
}

.global-nav {
  line-height: 100px;
}

.global-nav__items {
  display: flex;
}

.global-nav__item {
  flex: 1 1 8%;
}

.global-nav__item__logo {
  width: 300px;
  text-align: center;
}

.global-nav__item__ticket {
  width: 300px;
  text-align: center;
}

.global-nav__logo {
  display: block;
  line-height: 64px;
  font-weight: bold;
}

.global-nav__link {
  display: block;
  text-align: center;
  line-height: 64px;
  font-weight: bold;
}

.global-nav__ticket {
  display: block;
  text-align: center;
  background: orange;
  line-height: 64px;
  font-weight: bold;
}

.global-nav__link:hover {
  border-bottom: 2px solid orange;
}

.main {
  margin-top: 100px;
}
