/* Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
////////////////////////////////////////
reset.css では足りない初期化を追加
////////////////////////////////////////
*/

/* 全てに box-sizing: border-box; を適用 */
*, *:before, *:after {
  box-sizing: border-box;
}

/* 画像に関する初期設定 */
img {
  /* 大きい画像がはみ出さないように */
  max-width: 100%;
  /* 画像周りの無駄なスペースができないように */
  vertical-align: bottom;
}

[data-whatinput="mouse"] *:focus,
[data-whatinput="touch"] *:focus {
  outline: none;
}

/*
////////////////////////////////////////
初期設定
////////////////////////////////////////
*/

body {
  padding: 22px 0;
  height: 3000px;
  color: #fff;
  background-image: -moz-linear-gradient(135deg, #1c0901 0%,#1c0901 45%,#2b1813 45%,#2b1813 50%,#1c0901 50%,#1c0901 95%,#2b1813 95%);
  background-image: -webkit-linear-gradient(135deg, #1c0901 0%,#1c0901 45%,#2b1813 45%,#2b1813 50%,#1c0901 50%,#1c0901 95%,#2b1813 95%);
  background-image: linear-gradient(135deg, #1c0901 0%,#1c0901 45%,#2b1813 45%,#2b1813 50%,#1c0901 50%,#1c0901 95%,#2b1813 95%);
  background-position: 0px 0px;
  background-size: 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  /* floatを使った場合の対策 */
  overflow: hidden; 
  text-align: center;
}

/*
////////////////////////////////////////
menubar
////////////////////////////////////////
*/

.global-nav {
  position: fixed;
  background: rgb(28, 9, 1);
  top: 22px;
  width: 100%;
}

.global-nav__items {
  display: flex;
}

.global-nav__item {
  flex: 1 1 8%;
}

.global-nav__item__logo {
  width: 300px;
  text-align: center;
}

.global-nav__item__ticket {
  width: 300px;
  text-align: center;
}

.global-nav__logo {
  display: block;
  line-height: 64px;
  font-weight: bold;
}

.global-nav__logo > img {
  height: 35px;
  vertical-align: middle;
}

.global-nav__link {
  display: block;
  text-align: center;
  line-height: 64px;
  font-weight: bold;
}

.global-nav__ticket {
  display: block;
  margin: 0 30px;
  text-align: center;
  background: orange;
  line-height: 64px;
  font-weight: bold;
}

.global-nav__ticket:hover {
  background: gold;
}

.global-nav__link:hover {
  border-bottom: 2px solid orange;
}

.eye-catch {
  margin: 100px 0 0 0;
  background-image: url('img/main_yoko.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.eye-catch__logo {
  width: 50%;
}

/*
////////////////////////////////////////
top contents
////////////////////////////////////////
*/

.top-info {
  display: flex;
  justify-content: center;
  background-image: -moz-linear-gradient(135deg,  #8f1d1d 0%, #8f1d1d 45%,#8f5656  45%,#8f5656  50%, #8f1d1d 50%, #8f1d1d 95%,#8f5656  95%);
  background-image: -webkit-linear-gradient(135deg, #8f1d1d 0%,#8f1d1d 45%,#8f5656  45%,#8f5656  50%,#8f1d1d 50%,#8f1d1d 95%,#8f5656  95%);
  background-image: linear-gradient(135deg, #8f1d1d 0%,#8f1d1d 45%,#8f5656  45%,#8f5656  50%,#8f1d1d 50%,#8f1d1d 95%,#8f5656  95%);
  background-position: 0px 0px;
  background-size: 10px 10px;
  margin: 5% 0;
}

.top-info__date {
  width: 450px;
  align-self: center;
}

.top-info__tweet {
  padding: 15px;
}

.top-info__tweet__paragraph > i {
  color: #333;
}

.top-info__tweet__paragraph {
  color: #fff;
  padding: 5px;
}

.top-notice {
  background: rgba(255,255,255,.2);
  width: 70%;
  padding: 10%;
  margin: 100px auto;
  border: dashed #fff 5px;
}

.top-notice__title {
  font-size: 30px;
  margin-bottom: 1em;
  font-weight: bold;
}

.top-notice__paragraph {
  font-size: 15px;
  line-height: 1.5em;
}

.top-headline {
  padding: 20px;
  margin: 100px;
}

.top-headline__title {
  font-size: 30px;
  margin-bottom: 1em;
  font-weight: bold;
}

.top-headline__paragraph {
  font-size: 15px;
  line-height: 1.5em;
}

/*
////////////////////////////////////////
contents
////////////////////////////////////////
*/

.story {
  border-top: solid orange 2px;
  padding-bottom: 100px;
}

.story__title {
  font-size: 30px;
  margin-top: 130px;
  margin-bottom: 1em;
  font-weight: bold;
}

#story > .story__paragraph {
  margin-bottom: 30px;
}

.story__paragraph {
  font-size: 15px;
  line-height: 1.5em;
}

.cast {
  border-top: solid orange 2px;
}

.cast__title {
  font-size: 30px;
  margin-top: 130px;
  margin-bottom: 1em;
  font-weight: bold;
}

.cast__items {
  display: flex;
}

.cast__items__item {
  margin: 5%;
  width: 50%;
}

.cast__items__item > img {
  margin-bottom: 15px;
}

.cast__items__name {
  font-size: 15px;
  line-height: 20px;
}

.cast__items__actor-name {
  font-size: 25px;
  line-height: 35px;
}

.staff {
  border-top: solid orange 2px;
}

.staff:last-child {
  margin-bottom: 100px;
}

.staff__title {
  font-size: 30px;
  margin-top: 130px;
  margin-bottom: 1em;
  font-weight: bold;
}

.staff__dfn-word {
  display: inline-block;
  text-align: right;
  width: 400px;
}

.staff__staff-name {
  display: inline-block;
  text-align: left;
  width: 400px;
}

.movie {
  border-top: solid orange 2px;
}

.movie:last-child {
  margin-bottom: 100px;
}

.movie__title {
  font-size: 30px;
  margin-top: 130px;
  margin-bottom: 1em;
  font-weight: bold;
}

.movie__items {
  display: flex;
}

.movie__items__item {
  width: 50%;
  margin: 15px;
}

.schedule {
  border-top: solid orange 2px;
}

.schedule:last-child {
  margin-bottom: 100px;
}

.schedule__title {
  font-size: 30px;
  margin-top: 130px;
  margin-bottom: 1em;
  font-weight: bold;
}

.schedule__items {
  display: flex;
}

.schedule__items__item {
  width: 50%;
  margin: 15px;
}

.schedule__items__item__time {
  background: orange;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  float: center;
}

.schedule__items__wrap-item {
  width: 50%;
  margin: 15px;
  align-self: center;
}

.schedule__items__item__title {
  font-size: 25px;
  margin-top: 10px;
  margin: 1em 0;
  font-weight: bold;
}

.access {
  border-top: solid orange 2px;
}

.access:last-child {
  margin-bottom: 100px;
}

.access__title {
  font-size: 30px;
  margin-top: 130px;
  margin-bottom: 1em;
  font-weight: bold;
}

.access__items {
  display: flex;
}

.access__items__desc {
  width: 50%;
}

.access__map-box {
  width: 50%;
}

.notion {
  border-top: solid orange 2px;
}

.notion:last-child {
  padding-bottom: 100px;
  border-bottom: solid orange 2px;
}

.notion__title {
  font-size: 30px;
  margin-top: 130px;
  margin-bottom: 1em;
  font-weight: bold;
}

.footer {
  
}

/*
////////////////////////////////////////
popup modal
////////////////////////////////////////
*/

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
  color: #1c0901;
}
.popup.is-show {
  opacity: 1;
  visibility: visible;
}
.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 600px;
  padding: 50px;
  background-color: #fff;
  z-index: 2;
}
.popup-inner img {
  width: 100%;
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.close-btn i {
  font-size: 20px;
  color: #333;
}
.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
}

.show-popup {
  cursor: pointer;
  text-decoration: underline;
}

.button_to_top {
  position: fixed;
  bottom: 30px;
  right: 50px;
  font-size: 40px;
}

.button_to_top i {
  color: orange;
}
